useDynLib(pleiotest, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(identify_subsets)
export(manhattan_plot)
export(mt_gwas)
export(pleio_ideogram)
export(pleio_plot)
export(pleioR)
export(pleio_simulate)
export(pleio_test)
export(xrsx_xrsy)
